*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Josefin Sans", sans-serif;
}
body{
    background-color: #f3f3f3;
    
}
.conatiner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    display: flex;
    box-shadow : 0px 1px 20px 0px rgba(69,90,100,0.08);
} 
.conatiner .left{
    width:35% ;
    background: linear-gradient(to right,#01a9ac,#01dbdf);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    text-align: center;
    color: #fff;

}
.conatiner .left img{
    border-radius: 5px;
    margin-bottom: 10px;
}
.conatiner .left h4{
    margin-bottom: 10px;
}
.conatiner .left p{
    font-size: 12px;

}
.conatiner .right{
    width: 98%;
    background: #fff;
    border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 30px 25px;

}
.conatiner .right .info,
.conatiner .right .projects{
margin-bottom: 25px;
}
.conatiner .right .info h3,
.conatiner .right .projects h3 {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    Letter-spacing:5px ;

}
 .conatiner .right .info_data,
.conatiner .right .projects_data{
    display: flex;
    justify-content: space-between;
    margin-right: 15px;

}

.conatiner .right .info_data .data,
.conatiner .right .projects_data .data{
width: 95%;
}
.conatiner .right .info_data .data h4,
.conatiner .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
} 

.conatiner .right .info_data .data p,
.conatiner .right .projects_data .data p{
    font-size: 15px;
    margin-bottom: 10px;
    color: #9191a3;
    width: 190px;
}
.conatiner .social_media ul{
    display: flex;
}
.conatiner .social_media ul li{
    width: 45px;
    height: 45px;
    background: linear-gradient(to right,#01a9ac,#01dbdf);
    margin-right: 10px;
    border-radius: 5px;
    line-height: 45px;
    text-align: center;
}
.conatiner .social_media ul li a{
    color: #fff;
    display: block;
    font-size:18px;
}
.courses h4{
    margin-top: 20px;
    color: #686885;
}
.courses ul li{
    margin: 10px;
    padding: 6px;
}

